* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}
.ColorBar{
    height: 250px;
    background-color: #17a2b8;
    border: solid 1px gray;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.InfoBar{
    height: 600px;
    background-color: whitesmoke;
    border: solid 1px gray;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
img{
    margin-left: 100px;
    position: relative;
    bottom: 125px;
}
h1{
    font-size: 100px;
    margin-left: 100px;
    position: relative;
    bottom: 130px;
}
.Location{
    display:flex;
    
}
.map-marker{
    transform: scale(.6);
    

}
h2{
    font-size: 65px;
    position: relative;
    bottom: 120px;
    left: 40px;
}
p{
    width: 550px;
    height: 100px;
    word-wrap: break-word;
    margin-left: 100px;
    font-size: 35px;
    position: relative;
    bottom: 100px;
}
.gear{
    height: 40px;
    width: 40px;
    position:relative;
    margin-top: 50px;

}
a{
    font-size: 40px;
    position: relative;
    bottom: 135px;
    left: 20px;
}